{# template/homepagelayout.html.twig #}

{% extends "mainlayout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Hello bienvenue sur la page d'accueil !!!!</h1>

  <hr>
  <a href="{{path('platform_contact')}}" class="btn btn-default">
    Contact
  </a>
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block contact_body %}

  {% endblock %}

{% endblock %}
