{# templates/Advert/edit.html.twig #}

{% extends "bundlelayout.html.twig" %}

{% block title %}
  Créer une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Créer une annonce</h2>

  {{ include("Advert/form.html.twig") }}

  <p>
    Vous créez une annonce ....
  </p>

  <p>
  </p>

{% endblock %}
