{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "bundlelayout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
  {# On vérifie qu'une image soit bien associée à l'annonce #}
  {% if advert.image is not null %}
    <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
  {% endif %}
  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  {% if listAdvertSkills|length > 0 %}
    <div>
      Cette annonce requiert les compétences suivantes :
      <ul>
        {% for advertSkill in listAdvertSkills %}
          <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{#  {% if listApplications|length > 0 %}#}
{#    <div>#}
{#      Les personnes suivantes ont déjà répondu à cette annonce :#}
{#      <ul>#}
{#        {% for application in listApplications %}#}
{#          <li>{{ application.application.name }}</li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    </div>#}
{#  {% endif %}#}

  <p>
    <a href="{{path('oc_advert_index')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_advert_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_advert_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
    <a href="{{ path('oc_advert_edit_image', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Modifier l'image
    </a>
  </p>

{% endblock %}
